/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.leftButton{
	-fx-float:left;
}

.header-text {
	-fx-font-family:"Letter Gothic";
	-fx-font-size:45.0px;
	-fx-text-fill:rgb(13.0,61.0,137.0);
}

.center {
	-fx-alignment:center;
}

.custom-button{
	-fx-background-color:white;
	-fx-border-color:rgb(13.0,61.0,137.0);
	-fx-border-width:2.0px;
	-fx-border-radius:2.0px;
}

.custom-button:hover{
	-fx-font-size:20.0px;
	-fx-background-color:rgb(13.0,61.0,137.0);
	-fx-text-fill:white;
}

.custom-combo{
	-fx-background:white;
	-fx-background-color:white;
	-fx-border-color:rgb(13.0,61.0,137.0);
	-fx-border-radius:2.0px;
	-fx-border-width:2.0px;
}

.custom-combo .list-cell{
	-fx-font-family:"Letter Gothic";
	-fx-font-size:20.0px;
	-fx-text-fill:rgb(13.0,61.0,137.0);
}

.custom-combo .list-cell:hover{
	-fx-font-family:"Letter Gothic";
	-fx-font-size:20.0px;
	-fx-text-fill:white!important;
	-fx-background-color:rgb(13.0,61.0,137.0)!important;
}

.custom-combo .list-cell:selected{
	-fx-font-family:"Letter Gothic";
	-fx-font-size:20.0px;
	-fx-text-fill:rgb(13.0,61.0,137.0);
	-fx-background-color:white;
}

.custom-textfield{
	-fx-border-width:2.0px;
	-fx-border-color:rgb(13.0,61.0,137.0);
}

.custom-list .list-cell{
	-fx-font-family:"Letter Gothic";
	-fx-font-size:20.0px;
	-fx-text-fill:rgb(13.0,61.0,137.0);
}

.custom-list .list-cell:selected{
	-fx-font-family:"Letter Gothic";
	-fx-font-size:20.0px;
	-fx-text-fill:white!important;
	-fx-background-color:rgb(13.0,61.0,137.0)!important;
}

.basic-text{
	-fx-font-family:"Letter Gothic";
	-fx-font-size:20.0px;
	-fx-text-fill:rgb(13.0,61.0,137.0);
}

.scroll-bar:vertical .track{
    -fx-background-color:transparent;
    -fx-border-color:transparent;
    -fx-background-radius:0.0em;
    -fx-border-radius:2.0em;
}


.scroll-bar:horizontal .decrement-button {
    -fx-background-color:transparent;
    -fx-background-radius:0.0em;
    -fx-padding:0.0 0.0 10.0 0.0;

}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color:transparent;
    -fx-background-radius:0.0em;
    -fx-padding:0.0 10.0 0.0 0.0;

}

 .scroll-bar .increment-arrow,
 .scroll-bar .decrement-arrow{
    -fx-shape:" ";    
    -fx-padding:0.15em 0.0;
}

 .scroll-bar:vertical .increment-arrow,
 .scroll-bar:vertical .decrement-arrow{
    -fx-shape:" ";    
    -fx-padding :0.0 0.15em;
}

.scroll-bar:vertical .thumb {
    -fx-background-color:derive(black,90.0%);
    -fx-background-insets:2.0, 0.0, 0.0;
    -fx-background-radius:2.0em;
}

.scroll-bar:vertical .thumb:hover {
    -fx-background-color:derive(#4D4C4F,10.0%);
    -fx-background-insets:2.0, 0.0, 0.0;
    -fx-background-radius:2.0em;
}
